

* {
    padding: 0;
    margin: 0;
}

.main-dash {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.total-imports {
    margin-top: 10rem;
    margin-left: 5rem;
    width: 16%;
    height: 20%;
    text-align: center;
    font-size: 1.68rem;
    background-color: #f67;
    color: white;
    padding: 50px;
    border-radius: 20px;
}

.imports-collected {
    margin-top: 10rem;
    width: 16%;
    height: 20%;
    text-align: center;
    font-size: 1.8rem;
    background-color: #1195e7;
    color: white;
    padding: 50px;
    border-radius: 20px;
}

.imports-pending {
    margin-top: 10rem;
    margin-right: 14rem;
    width: 16%;
    height: 20%;
    text-align: center;
    font-size: 1.8rem;
    background-color: #11eba2;
    color: white;
    padding: 50px;
    border-radius: 20px;
}

#order_count {
    margin-top: 25px;
}

#order_delivered {
    margin-top: 25px;
}

#order_pending {
    margin-top: 25px;
}

table {
    border: 1px solid #181818;
    margin-top: 60px;
    margin-left: 60px;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    background-color: #efefef;
    padding: 2rem 5rem;
}

tr {
    border-bottom: 1px solid #282828;
}

th {
    font-size: 1.2rem;
    padding: 2rem;
}

td {
    text-align: center;
    padding: 1rem 2rem;
}