

* {
    padding: 0;
    margin: 0;
}

.main-dash {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total-imports {
    width: 16%;
    height: 14rem;
    font-size: 1.8rem;
    background-color: #f67;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imports-collected {
    width: 16%;
    height: 14rem;
    font-size: 1.8rem;
    background-color: #1195e7;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imports-pending {
    width: 16%;
    height: 14rem;
    font-size: 1.8rem;
    background-color: #11eba2;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border: 1px solid #181818;
    margin-top: 60px;
    margin-left: 60px;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    background-color: #efefef;
    padding: 2rem 5rem;
}

<<<<<<< HEAD
h2 {
    margin-left: 5rem;
}

=======
>>>>>>> cea638c8ac2eeacea4f97275228aaaa7db96b333
tr {
    border-bottom: 1px solid #282828;
}

th {
    font-size: 1.2rem;
    padding: 2rem;
}

td {
    text-align: center;
    padding: 1rem 2rem;
}

p {
    margin-bottom: 1rem;
}

.pending {
    padding: 1rem;
    background-color: #f67;
    color: white;
    border-radius: 20px;
}

.delivered {
    padding: 1rem;
    background-color: #6690ff;
    color: white;
    border-radius: 20px;
}