@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.warehouse-order {
    width: 100%;
    height: 200px;
}

hr {
    width: 87rem;
    margin-left: 3rem;
    margin-top: 30px;
    color:#282828;
}

.add {
    margin-top: 30px;
}

.warehouse-order > a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background-color: rgb(10, 248, 109);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    font-family: 'Vazirmatn', sans-serif;
    margin-left: 80rem;
}

#orders {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Oswald', sans-serif;
    color: #282828;
}