@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signup {
    width: 100%;
    height: 100vh;
    background-color: #2FF3AD;
}

.logo {
    text-align: center;
    font-size: 2rem;
    font-family: 'Readex Pro', sans-serif;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: #282828;
}

.container {
    width: 30%;
    margin: auto;
    transform: translate(0, 2rem);
    padding: 1.8rem;
    background-color: #BDECEC;
    border-radius: 20px;
    z-index: 100;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}

#sign-header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #383838;
}

span {
    padding: 10px;
    background-color: #337ad9;
}

.bi-person-circle, 
.bi-envelope,
.bi-lock-fill {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.user, 
.email, 
.pass, 
.confirm-pass {
    display: flex;
    padding: 10px;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.btn-primary {
    background-color: #337ad9;
    padding: 10px;
    outline: none;
    border: 2px solid #337ad9;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

