<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <div class="frame">
        <div>
          <form class="form-signup" action="" method="post" name="form">
            {% csrf_token %}
            <label for="fullname">Full name</label>
            <input
              class="form-styling"
              type="text"
              name="fullname"
              placeholder="username"
            />
            <label for="email">Email</label>
            <input
              class="form-styling"
              type="text"
              name="email"
              placeholder="email"
            />
            <label for="password">Password</label>
            <input
              class="form-styling"
              type="password"
              name="password"
              placeholder="password"
            />
            <label for="confirmpassword">Confirm Password</label>
            <input
              class="form-styling"
              type="password"
              name="confirmpassword"
              placeholder="confirm password"
            />
            <input type="submit" />
          </form>
        </div>

        <div class="forgot">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </body>
</html>
