@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.dash-navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
}

#logo {
    margin-left: 5rem;
    font-size: 2rem;
    text-decoration: none;
    color: paleturquoise;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

#dash, 
#order {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-left: 60px;
}

#dash:hover, 
#order:hover {
    text-decoration: underline;
}