<!-- Templates/home.html -->
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Import Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}" />
  </head>

  <body>
    {% include 'navbar.html' %}
    <main>
      {% block content %}
        <div class="cont-1">
          <h2 id="aim">One Stop Solution <br>To Track all the Imports</h2>
          <img id="trackImg" src={% static '/images/import_tracking.jpg' %} alt="import"></img>
        </div>
      {% endblock %}
    </main>
  </body>
</html>
