  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login </title>
</head>
<body>
<center> <h1> Student Login Form </h1> </center>
    <form>
        <div class="container">
            <label>Username : </label>
            <input type="text"   name="username" required><br>
            <label>Password : </label>
            <input type="password"   name="password" required> <br>
            <button onclick="dashboard/"  type="submit">Login</button><br>
            <input type="checkbox" checked="checked"> Remember me
            <button type="button" class="cancelbtn"> Cancel</button>

        </div>
    </form>     



</body>
</html>

