{% load static %}

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static '/css/navdash.css' %}" />
</head>


{% block content %}
<div class="dash-navbar">
  <a href={% url 'homepage' %} id="logo">EasyInvent<span id="dot">.</span></a>
  <ul>
    <li><a href={% url 'dashboard' %} id="dash">Dashboard</a></li>
    <li><a href={% url 'dashboard:order' %} id="order">Order</a></li>

    {% if user.is_authenticated %}
       <li>
         <a href="{% url 'homepage' %}">Logout</a>
       </li>
    {% endif %}
  </ul>
</div>
{% endblock %}