{% load static %}

<head>
  <title>{% block title %}Orders{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static '/css/order.css' %}" />
</head>

{% block content %}
<div>
    {% include 'navdash.html' %}

    <div class="warehouse-order">
      <h2 id="orders">Orders</h2>
      <hr />
      <div id="filters">
        <input type="text" name="order-id" placeholder="Search by id" class="id-text"/>
        <input type="date" name="order-date" class="date-input"/>

        <select name="status" name="status" class="options">
          <option value="pending">Pending</option>
          <option value="delivered">Delivered</option>
        </select>

        <input type="button" value="Filter" class="btn-filter"/>

        <div class="add">
          <a href={% url 'dashboard:addOrders' %} class="add-orders">Create Order</a>
        </div>

      </div>

      <table>
        <tr>
          <th>Order ID</th>
          <th>Vendor</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Status</th>
          <th>Invoice Number</th>
          <th>Amount</th>
        </tr>

        {% for i in order %}
          <tr>
            <td><a href="/dashboard/order/{{i.order_id}}">{{i.order_id}}</a></td>
            <td>{{i.vendor}}</td>
            <td>{{i.customer}}</td>
            <td>{{i.date}}</td>
            <td class="status">{{i.status}}</td>
            <td>{{i.invoice_no}}</td>
            <td>{{amount}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}
